# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Serverless offline
.build

# Build directory (not for serverless)
build

# Terraform
.terraform
terraform.tfstate
terraform.tfstate.backup

# Mac
.DS_Store

# Custom ones
.env
.env.**